div{
  height: 100px;
  background-color: bisque;
  width:100px;
  border:solid 2px black;
 display:inline-block;
  text-align: center;
  
}
#box4 {
  position:fixed;
  top:10px;
  right:100px;
}
#hello{
  height:50px;
  width:50px;
 rotate:45deg;
 background-color:green;
}


